@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
margin:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: white;
  background-color:#1F2739;
  font-size: small;
}

.middle-well, .matchday-id {
  text-align:center;
  color: #323C50;
  font-weight: bold;
}

a:link, a:visited {
  /* background-color: #f44336;
  padding: 14px 25px; */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

table {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border: none;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #323C50;
}

table td {
	padding: 5px;
}

.matchday, .standings_table {
    margin-top: 25px;
	margin-bottom: 25px;
}

.header {
  text-align: center;
  font-weight: bold;
  font-color: grey;
}

.fixt-stat-table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-collapse: collapse;
	width: 55%;
}

.gen-info {
	width: 55%;
	border-collapse: collapse;
	height: 15px;
	text-align: center;
	height:35px;
	margin-bottom: 50px;
}

.midrow {
	border-collapse: collapse;
	height: 150px;
	text-align: center;
	padding-top: 30px;
}

.img-center {
  text-align: center;
  width: 25px;
  height: 25px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.team-names {
	height: 20px;
	text-align: center;
}

.home-team {
  text-align: right;
}

.away-team {
  text-align: left;
}

.fixture-progress {
	width: 20%;
	text-align: center;
	color: grey;
	font-size: 14px;
}

#wide-td {
	width: 20px;
}

#footer {
  text-align: center;
  color: grey;
}

.calendar {
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #323C50;
  padding-left: 350px;
  padding-right: 350px;
}

header {
    margin-bottom: 35px;
   text-align: center;
   font-size: 75px;
}

.league-info, .league-menu{
  margin-left: 60px;
  display: flex;
  font-size: small;
}

.league-name {
  font-size: 24px;
  font-weight: bolder;
}

.country-flag {
  margin-left:auto;
  margin-right:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 /* width: 50%; */
  margin: auto;
  font-weight: bolder;
  /*background-color: #333;*/
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 200px;
  overflow-y:scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  overflow: visible;
}

.box {
  float: left;
  height: 13px;
  width: 13px;
  margin-bottom: 2px;
  border-radius:50%;
  clear: both;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.grey {
  background-color: grey;
}

.column {
    float:left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.left {
width: 25%;
}

.middle {
    width: 50%;
}

.league-menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px;
  text-decoration: none;
}

.league-menu li {
    float: none;
}

#empty-table  {
    font-size: 50px;
    text-align: center;
}

.league-menu > ul > li > img {
    height: 9px;
    padding-right: 5px;
}

.league-menu > img {
    height: 12px;
}

#date {
    font-size: 18px;
    padding-top: 15px;
    font-weight: bold
}