@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: white;
  background-color:#1F2739;
}

.middle-well, .matchday-id {
  text-align:center;
  color: #323C50;
  font-weight: bold;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

table {
  text-align: left;
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border: none;
  border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #323C50;
}

table td {
	padding: 5px;
}

.matchday, .standings_table {
    margin-top: 25px;
	margin-bottom: 25px;
}

.header {
  text-align: center;
  font-weight: bold;
}