{% extends "base_page.html" %}
{% block title %} Golazo - Football Results {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
		    <div class="col-md-12">
                <nav aria-label="breadcrumb">
  				    <ol class="breadcrumb">
    				    <li class="breadcrumb-item active" aria-current="page">{{match_date}}</li>
  				    </ol>
			    </nav>
		    </div>
	{% if matchday_fixtures|length > 0 %}
		{% for fixture in matchday_fixtures %}
			<div class="row text-small">
				<div class="col-md-1 text-right align-self-center"><span>{{fixture.kickoff_date.time}}</span></div>
				<div class="col-md-3 text-right align-self-center"><span>{{fixture.home_team_name}} <img style="width:25px" src={{fixture.home_team_logo}}></span></div>
					<div class="col-md-1 text-center align-self-center">
						<button type="button" class="btn btn-outline-info btn-sm">
							<a href="/fixture/{{fixture.id}}">
								{% if fixture.goals_home_team != None %}
									{{fixture.goals_home_team}}:{{fixture.goals_away_team}}
								{% else %}
									- : -
								{% endif %}
							</a>
						</button>
					</div>
					<div class="col-md-3 align-self-center">
						<span><img style="width:25px" src={{fixture.away_team_logo}}> {{fixture.away_team_name}}</span>
					</div>
					<div class="col-md-1 align-self-center">
						{% if fixture.status_short == "PST" %}
							<span class="badge badge-secondary badge-warning">
								{{fixture.status_short}}
							</span>
						{% elif fixture.status_short == "FT" %}
							<span class="badge badge-primary" alt = "Full Time">
								{{fixture.status_short}}
							</span>
						{% elif fixture.status_short == "NS" %}
							<span class="badge badge-secondary" alt="Not Started">
								{{fixture.status_short}}
							</span>
						{% else %}
							<span class="badge badge-success">
								{% if fixture.elapsed != 90 and fixture.elapsed != 0 %}
									{{fixture.elapsed}}'
								{% endif %}
							</span>
						{% endif %}
					</div>
					<div class="col-md-2 align-self-center">
						<span>
							<img src={{fixture.country_flag}} style="width:20px;height:20px;"><a href="/league/{{fixture.urlified_league_name}}">  {{fixture.league_name}}</a>
						</span>
					</div>
					<div class="col-md-1"></div>
			</div>
			<div class="row top5"></div>
		{% endfor %}
	{% else %}
		<div class="row text-small align-self-center">
			<div class="col-md-10 text-center"><span><h3>No fixtures found</h3></span></div>
		</div>
	{% endif %}
{% endblock %}
{% block right_well %}
<!--CALENDAR-->
		<div class="col-md-12">
            <nav aria-label="breadcrumb">
  				    <ol class="breadcrumb">
    				    <li class="breadcrumb-item active" aria-current="page">Calendar</li>
  				    </ol>
			    </nav>
			<div class="btn-group-vertical">
				{% for day in calendar %}
					{% for key, value in day.items() %}
                    	<button class="btn btn-secondary btn-sm" type="button">
                        	<a href="/matchday/{{ value }}"> {{key}}, {{value.split('-')[1]}}/{{value.split('-')[2]}} </a>
						</button>
                	{% endfor %}
            	{% endfor %}
			</div>

		</div>
{% endblock %}