<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

</head>
<body>
<form action="/index" method="GET">
    <button type = submit value="home"> Home </button>
</form>

<form action="/fixtures/2833" method="GET">
    <button type = submit value=""> Fixtures </button>
</form>

<form action="/standings-table/2833" method="GET">
    <button type = submit value="">Standings Table</button>
</form>

<form action="/current/2833" method="GET">
    <button type = submit value="">Matchday</button>
</form>


</body>

</html>