<!doctype html>
<html>
  <head>
    {% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Golazo! Football scores</title>

        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="/static/styles.css" type="text/css">

  </head>
    {% endblock %}
  </head>
  <body>
    {% block header %}
        <header>
            <div style="background-image: url('/static/images/stadio.png'); height:400px;">
                <span>
                    <a href="/" style="margin-top: 200px;">GOLAZO!</a>
                </span>
            </div>
        </header>
    {% endblock %}


  </div>
<!--    <div class = "calendar">-->
<!--    <table>-->
<!--        <tr>-->
<!--            {% for day in calendar %}-->
<!--                {% for key, value in day.items() %}-->
<!--                    <td>-->
<!--                        <a href="/matchday/{{ value }}"> {{key}}, {{value.split('-')[1]}}/{{value.split('-')[2]}} </a>-->
<!--                    </td>-->
<!--                {% endfor %}-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
    <div id = "content">
<!--        <div class="column left">-->
<!--            <div class="league-menu">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href = "/">Home</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <img src="/static/images/england.png"><a href = "/league/premier_league">Premiere League</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <img src="/static/images/de.png"><a href = "/league/bundesliga_1">1. Bundesliga</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <img src="/static/images/es.png"><a href = "/league/primera_division">La Liga</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        UEFA Champions League-->
<!--                    </li>-->
<!--                                    <li>-->
<!--                UEFA Europa League-->
<!--            </li>-->
<!--            <li>-->
<!--                <img src="/static/images/england.png"><a href = "/league/championship">Championship</a>-->
<!--            </li>-->
<!--            <li>-->

<!--            <li>-->
<!--                <img src="/static/images/es.png"><a href = "/league/segunda_division">La Liga 2</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <img src="/static/images/it.png"><a href = "/league/serie_a">Serie A</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <img src="/static/images/be.svg"><a href = "/league/jupiler_pro_league">Belgian First Division A</a>-->
<!--            </li>-->
<!--                        <li>-->
<!--                <img src="/static/images/tr.svg"><a href = "/league/super_lig">Super Lig</a>-->
<!--            </li>-->



<!--        </ul>-->
<!--    </div>-->
<!--                                </div>-->

<!--        <div class="column middle">-->
        {% block content %}

        {% endblock %}
        </div>
    </div>
<!--    <div id="footer">-->
<!--      {% block footer %}-->
<!--        vadyme | 2020-->
<!--      {% endblock %}-->
<!--    </div>-->
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>