{% extends "layout.html" %}
{% block title %} Golazo - Football Results {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-right">
			LEAGUE FLAG AND TITLE HERE
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 border-right">
			<nav aria-label="breadcrumb">
  				<ol class="breadcrumb">
    				<li class="breadcrumb-item active" aria-current="page">Leagues</li>
  				</ol>
			</nav>
		</div>
		<div class="col-md-8 border-right">
			            <div class="row">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Results</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Matchday 1</a>
                                <a class="dropdown-item" href="#">Matchday 2</a>
                                <a class="dropdown-item" href="#">Matchday 3</a>
                                <a class="dropdown-item" href="#">Matchday 4</a>
                                <a class="dropdown-item" href="#">Matchday 5</a>
                            </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/league/{{league_name}}/standings">Standings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Top Scorers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fixtures</a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 border-right">
						<div class="btn-group-vertical">
				<ul class="nav flex-column">
					<li class="nav-item h7 text-left">
  						<a class="nav-link"  href="/"><span class="text-left"><b>Home</b></span></a>
  					</li>
  					<li class="nav-item h7 text-left">
  						<a class="nav-link"  href="/league/primera_division"><span class="text-left"><b>La Liga</b></span></a>
  					</li>
  					<li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/premier_league"><span class="text-left"><b>English Premier League</b></span></a>
  					</li>
  					<li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/serie_a"><span class="text-left"><b>Serie A</b></span></a>
  					</li>
  					<li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/bundesliga_1"><span class="text-left"><b>Bundesliga</b></span></a>
  					</li>
  					 <li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/jupiler_pro_league"><span class="text-left"><b>Jupiler Pro League</b></span></a>
  					</li>
  					<li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/super_lig"><span class="text-left"><b>Süper Lig</b></span></a>
  					</li>
  					 <li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/championship"><span class="text-left"><b>EFL Championship</b></span></a>
  					</li>
					<li class="nav-item h7 text-left">
    					<a class="nav-link"  href="/league/segunda_division"><span class="text-left"><b>La Liga 2</b></span></a>
  					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 border-right">

            <div class="row top5"></div>
            {% if fixtures|length > 0 %}
				{% for fixture in fixtures %}
					<div class="row text-small">
						<div class="col-md-1 text-right align-self-center"><span>{{fixture.kickoff_date.date}}</span></div>
						<div class="col-md-1 text-right align-self-center"><span>{{fixture.kickoff_date.time}}</span></div>
						<div class="col-md-3 text-right align-self-center"><span>{{fixture.home_team_name}} <img style="width:25px" src={{fixture.home_team_logo}}></span></div>
						<div class="col-md-1 text-center align-self-center">
							<button type="button" class="btn btn-outline-info btn-sm">
								{% if fixture.goals_home_team != None %}
									{{fixture.goals_home_team}}:{{fixture.goals_away_team}}
								{% else %}
								- : -
								{% endif %}
							</button>
						</div>
						<div class="col-md-3 align-self-center">
							<span><img style="width:25px" src={{fixture.away_team_logo}}> {{fixture.away_team_name}}</span>
						</div>
						<div class="col-md-1 align-self-center">
							<span class="badge badge-secondary">
								{% if fixture.elapsed != 90 and fixture.elapsed != 0 %}
									{{fixture.elapsed}}'
								{% else %}
									{{fixture.status_short}}
								{% endif %}
							</span>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row top5"></div>
				{% endfor %}
			{% endif %}
            </div>
        </div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}