{% extends "layout.html" %}
{% block title %} Golazo - Football Results {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">{{league_name}} |</div>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
			<li class="nav-item">
        		<a class="nav-link" href="/league/{{ league_name }}">Current matchday</a>
      		</li>
<!--      		<li class="dropdown show">-->
<li class="btn-group">
			  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Action
			  </button>
      		</li>
			<li>
				<a class="nav-item nav-link" href="/league/{{league_name}}/standings">Standings</a>
			</li>
			<li>
				<a class="nav-item nav-link" href="/league/{{league_name}}/topscorers">Top Scorers</a>
			</li>
    </ul>
  </div>
</nav>

<div class="top10"></div>
<div class="top10"></div>
	{% if fixtures|length > 0 %}
		{% for fixture in fixtures %}
			<div class="row text-small">
						<div class="col-md-1 text-right align-self-center"><span>{{fixture.kickoff_date.date}}</span></div>
						<div class="col-md-1 text-right align-self-center"><span>{{fixture.kickoff_date.time}}</span></div>
						<div class="col-md-3 text-right align-self-center"><span>{{fixture.home_team_name}} <img style="width:25px" src={{fixture.home_team_logo}}></span></div>
						<div class="col-md-1 text-center align-self-center">
							<button type="button" class="btn btn-outline-info btn-sm">
								<a href="/fixture/{{fixture.id}}">
								{% if fixture.goals_home_team != None %}
									{{fixture.goals_home_team}}:{{fixture.goals_away_team}}
								{% else %}
								- : -
								{% endif %}
								</a>
							</button>
						</div>
						<div class="col-md-3 align-self-center">
							<span><img style="width:25px" src={{fixture.away_team_logo}}> {{fixture.away_team_name}}</span>
						</div>
						<div class="col-md-1 align-self-center">
							<span class="badge badge-secondary">
								{% if fixture.elapsed != 90 and fixture.elapsed != 0 %}
									{{fixture.elapsed}}'
								{% else %}
									{{fixture.status_short}}
								{% endif %}
							</span>
						</div>
						<div class="col-md-2"></div>
					</div>
			<div class="row top5"></div>
		{% endfor %}
	{% endif %}
{% endblock %}