{% extends "league_layout.html" %}
{% block title %} Today Matches {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

{{ super() }}
    <div id="date">Matchday {{matchday_id.split("Regular Season - ")[1]}}</div>
    <div class = "column middle">
    <table>
        <tbody>
        {% for fixture in fixtures %}
            <tr>
                <td class="text-center">{{fixture.kickoff_date.date}}</td>
                <td class="home-team">{{fixture.home_team_name}}</td>
                <td class="img-center"><img class="img-center" src={{fixture.home_team_logo}}></td>
                <td class="text-center"><a href="/fixture/{{fixture.id}}">{{fixture.score}}</a></td>
                <td class="img-center"><img class="img-center" src={{fixture.away_team_logo}}></td>
                <td class="away-team">{{fixture.away_team_name}}</td>
                <td class="text-center">{{fixture.status_short}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}