<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="/static/styles.css">>

</head>
<body>
<div class = "middle-well">
    <a href="./2755"> Bundesliga </a>
    <a href="./2857"> Serie A </a>
    <a href="./2833"> Primera </a>
    <a href="./2847"> Segunda </a>
    <a href="./2794"> Championship </a>
</div>
<div class = "matchday-id">
    Matchday {{matchday_id}}
</div>
<div class = "matchday">
    {{fixtures}}
</div>
<div class = "standings_table">
    {{table}}
</div>
<div class = "topscorers">
    {{topscorers}}
</div>

</body>
</html>