{% extends "league_layout.html" %}
{% block title %} Today Matches {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

{{ super() }}

<!--        rank,
        team_id,
        team_name,
        team_logo,
        group,
        forme,
        status,
        description,
        all_played,
        all_win,
        all_draw,
        all_lose,
        all_goals_for,
        all_goals_against,
        goals_diff,
        pts-->

    <div class = "header">
        STANDINGS
    </div>
    <div class = "matchday">
    <table>
        <tbody>
    <div class = "standings_table">
        {% for row in table %}
            <tr>
                <td>{{row.rank}}</td>
                <td><img class="img-center" src = "{{row.team_logo}}"></a></td>
                <td>{{row.team_name}}</td>
                <td>{{row.pts}}</td>
                <td>{{row.played}}</td>
                <td>{{row.win}}</td>
                <td>{{row.draw}}</td>
                <td>{{row.lose}}</td>
                <td>{{row.gf}}</td>
                <td>{{row.ga}}</td>
                <td>{{row.gd}}</td>
                {% for fixture in row.form %}
                    {% if fixture.goals_home_team == fixture.goals_away_team %}
                        <td class="tooltip">
                            <div class='box grey'></div>
                                <span class="tooltiptext">
                                    <a href="/fixture/{{fixture.id}}">
                                        {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                    </a>
                                </span>
                        </td>
                    {% elif fixture.home_team_name == row.team_name %}
                        {% if fixture.goals_home_team > fixture.goals_away_team %}
                            <td class="tooltip">
                                <div class='box green'></div>
                                    <span class="tooltiptext">
                                        <a href="/fixture/{{fixture.id}}">
                                            {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                        </a>
                                    </span>
                            </td>
                        {% elif fixture.goals_home_team < fixture.goals_away_team %}
                            <td class="tooltip">
                                <div class='box red'></div>
                                    <span class="tooltiptext">
                                        <a href="/fixture/{{fixture.id}}">
                                            {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                        </a>
                                    </span>
                            </td>
                        {% endif %}
                    {% elif fixture.away_team_name == row.team_name %}
                        {% if fixture.goals_home_team > fixture.goals_away_team %}
                            <td class="tooltip">
                                <div class='box red'></div>
                                    <span class="tooltiptext">
                                        <a href="/fixture/{{fixture.id}}">
                                            {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                        </a>
                                    </span>
                            </td>
                        {% elif fixture.goals_home_team < fixture.goals_away_team %}
                            <td class="tooltip">
                                <div class='box green'></div>
                                    <span class="tooltiptext">
                                        <a href="/fixture/{{fixture.id}}">
                                            {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                        </a>
                                    </span>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </tr>
        {% endfor %}
    </div>
        </tbody>
    </table>
    </div>

{% endblock %}