{% extends "layout.html" %}
{% block title %} Today Matches {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

{{ super() }}
<div class="row">
		<!--MAIN MENU-->

<!--        		<div class="col-md-2 border-right">-->
<!--                    			<nav aria-label="breadcrumb">-->
<!--  				<ol class="breadcrumb">-->
<!--    				<li class="breadcrumb-item active" aria-current="page">Leagues</li>-->
<!--  				</ol>-->
<!--			</nav>-->
<!--			<div class="btn-group-vertical">-->
<!--				<ul class="nav flex-column">-->
<!--					<li class="nav-item h7 text-left">-->
<!--  						<a class="nav-link"  href="/"><span class="text-left"><b>Home</b></span></a>-->
<!--  					</li>-->
<!--  					<li class="nav-item h7 text-left">-->
<!--  						<a class="nav-link"  href="/league/primera_division"><span class="text-left"><b>La Liga</b></span></a>-->
<!--  					</li>-->
<!--  					<li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/premier_league"><span class="text-left"><b>English Premier League</b></span></a>-->
<!--  					</li>-->
<!--  					<li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/serie_a"><span class="text-left"><b>Serie A</b></span></a>-->
<!--  					</li>-->
<!--  					<li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/bundesliga_1"><span class="text-left"><b>Bundesliga</b></span></a>-->
<!--  					</li>-->
<!--  					 <li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/jupiler_pro_league"><span class="text-left"><b>Jupiler Pro League</b></span></a>-->
<!--  					</li>-->
<!--  					<li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/super_lig"><span class="text-left"><b>Süper Lig</b></span></a>-->
<!--  					</li>-->
<!--  					 <li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/championship"><span class="text-left"><b>EFL Championship</b></span></a>-->
<!--  					</li>-->
<!--					<li class="nav-item h7 text-left">-->
<!--    					<a class="nav-link"  href="/league/segunda_division"><span class="text-left"><b>La Liga 2</b></span></a>-->
<!--  					</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{league_name}} | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/league/{{ league_name }}">Current matchday</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Results
        </a>
        <div class="dropdown-menu">
            <ul>
            <li>{% for matchday in matchdays %}
                {% if (matchday.split("Regular_Season_-_"))[1]|int < (current_matchday.split("Regular Season - "))[1]|int %}
                    <a class="dropdown-item" href="/league/{{ league_name }}/{{matchday}}"> Matchday {{matchday.split("Regular_Season_-_")[1]}}</a>
                {% endif %}
            {% endfor %}</li>

          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
                </ul>
        </div>
      </li>
      <a class="nav-item nav-link" href="/league/{{league_name}}/standings">Standings</a>
        <a class="nav-item nav-link" href="/league/{{league_name}}/topscorers">Top Scorers</a>
      <a class="nav-item nav-link disabled" href="#">Fixtures</a>
    </div>
  </div>
</nav>
        <table class="table table-striped table-dark table-hover table-sm">
            <thead>
                    <tr class="grey-text-table-headers">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Pts</td>
                    <td>MP</td>
                    <td>W</td>
                    <td>D</td>
                    <td>L</td>
                    <td>GF</td>
                    <td>GA</td>
                    <td>GD</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
        </tr>
            </thead>
        <tbody>
        {% for row in table %}
            <tr>
                <td>{{row.rank}}</td>
                <td><img class="img-center" src = "{{row.team_logo}}"></td>
                <td>{{row.team_name}}</td>
                <td><b>{{row.pts}}</b></td>
                <td>{{row.played}}</td>
                <td>{{row.win}}</td>
                <td>{{row.draw}}</td>
                <td>{{row.lose}}</td>
                <td>{{row.gf}}</td>
                <td>{{row.ga}}</td>
                <td>{{row.gd}}</td>
                {% for fixture in row.form %}
                    {% if fixture.goals_home_team == fixture.goals_away_team %}
                        <td class="custom-tooltip">
                            <div class='custom-box grey'></div>
                                <div class="custom-tooltiptext">
                                    <a href="/fixture/{{fixture.id}}">
                                        {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                    </a>
                                </div>
                        </td>
                    {% elif fixture.home_team_name == row.team_name %}
                        {% if fixture.goals_home_team > fixture.goals_away_team %}
                        <td class="custom-tooltip">
                            <div class='custom-box green'></div>
                                <div class="custom-tooltiptext">
                                    <a href="/fixture/{{fixture.id}}">
                                        {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                    </a>
                                </div>
                        </td>
                        {% elif fixture.goals_home_team < fixture.goals_away_team %}
                         <td class="custom-tooltip">
                            <div class='custom-box red'></div>
                                <div class="custom-tooltiptext">
                                    <a href="/fixture/{{fixture.id}}">
                                        {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                    </a>
                                </div>
                        </td>
                        {% endif %}
                    {% elif fixture.away_team_name == row.team_name %}
                        {% if fixture.goals_home_team > fixture.goals_away_team %}
                        <td class="custom-tooltip">
                            <div class='custom-box red'></div>
                                <div class="custom-tooltiptext">
                                    <a href="/fixture/{{fixture.id}}">
                                        {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                    </a>
                                </div>
                        </td>
                        {% elif fixture.goals_home_team < fixture.goals_away_team %}
                        <td class="custom-tooltip">
                            <div class='custom-box green'></div>
                                <div class="custom-tooltiptext">
                                    <a href="/fixture/{{fixture.id}}">
                                        {{fixture.home_team_name}}<br>{{fixture.score}}<br>{{fixture.away_team_name}}
                                    </a>
                                </div>
                        </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}